<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http use-expressions="false">
		<csrf token-repository-ref="tokenRepository" />
		<intercept-url pattern="/index.html" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/dashboard" access="ROLE_ADMIN" />
		<logout logout-success-url="/index.html" delete-cookies="JSESSIONID" logout-url="/perform_logout" />
		<form-login login-page='/index.html' login-processing-url="/perform_login"
			username-parameter="username" password-parameter="password"
			authentication-failure-url="/index.html?error=true"
			authentication-success-handler-ref="authenticationSuccessHandler" />
	</http>

	<b:bean id="authenticationSuccessHandler" class="ferr.workRegister.security.LoginSuccesHandler" />

	<b:bean id="tokenRepository"
		class="org.springframework.security.web.csrf.CookieCsrfTokenRepository"
		p:cookieHttpOnly="false" />

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="bob" password="bobspassword" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</b:beans>

